<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/aykutabuhan/IdeaProjects/HepsiBurada_CucumberProject" parallel="classes">
        <parameter name="browser" value="Chrome"/>
        <parameter name="host" value="localhost"/>
        <parameter name="port" value="4444"/>
        <classes>
            <class name="runner.MainPageRunner"/>
            <class name="runner.ProductListPageRunner"/>
            <class name="runner.CampaignPageRunner"/>
            <class name="runner.CartPageRunner"/>
        </classes>
    </test>
</suite>